<div class="row collapse">
    <div class="large-12 columns">
        <table class="bumped">
            <thead>
                <tr>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a data-bind="fastlink: '/#/information/terms'">
                            <span>Terms & Conditions</span>
                            <span class="right">&#62</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-bind="fastlink: '/#/information/instructions'">
                            <span>Using Hokie Swap</span>
                            <span class="right">&#62</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-bind="fastlink: 'mailto: supportvpf@vt.edu?subject=Hokie Swap | Bug report'">
                            <span>Report a bug</span>
                            <span class="right">&#62</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>