<div class="row viewBackground">
    <div class="large-12 columns">
        <h2 class="swapHeadline">Terms & Conditions</h2>

        <p>Hokie Swap is a free service offered by Virginia Tech Surplus Property Management to foster the efficient redistribution of property, cost savings and recycling.  This app is not open to the public and may be used only to make internal distributions within the Virginia Tech organization.</p>

        <p>All items remain the property of Virginia Tech and are not for personal use.</p>

        <h5>Instructions</h5>

        <p>Create a new posting to advertise an item or to request an item from the community.  Items may be offered for free or you may elect to ask for an internal transfer of funds.  There are to be no cash transactions whatsoever.</p>

        <p>You may delete your post if it is no longer needed.  Posts will be automatically deleted after 21 days.</p>

        <p>If an item is not successfully redistributed, the department is required to fill out a surplus report form to enable the item’s final disposition. Please note that use of Hokie Swap and the surplus report form  are NOT to be done simultaneously.  Only one type of disposal is allowed at a time.</p>

        <p>If fixed asset equipment is redistributed, it is the seller's responsibility to notify Fixed Asset Management to update inventory records.</p>

        <p>We hope that you benefit from this app.  Comments and suggestions may be directed to <a href="mailto: csherman@exchange.vt.edu?subject=Hokie Swap">Chris Sherman</a>.</p>
    </div>
</div>