.adHeader { 
	border-bottom: medium solid $ad-color;
	margin-top: 0px;
}

.requestHeader { 
	border-bottom: medium solid $request-color;
	margin-top: 0px;
}

.swapHeadline {
	border-bottom: medium solid $secondary-color;
}